.buildings {
    height: 100%;
    top: 0px;
    right: 0px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;   
}

.BTS {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.game {
    display: flex;
}

.RM {
    height: 550px;
    width: 500px;
}

.Suga {
    height: 550px;
    width: 500px;
}

.J_hope {
    height: 550px;
    width: 500px;
}

.Jin {
    height: 550px;
    width: 500px;
}

.Jungkook {
    height: 550px;
    width: 500px;
}

.V {
    height: 550px;
    width: 500px;
}

.Jimin {
    height: 550px;
    width: 500px;
}

.header {
    text-align: center;
}

body{
    background-image: url('img/southkoreaflag.jpg');
    background-size: cover;
}